name: mode
services:
  dashboard:
    build:
      context: .
      dockerfile: Dockerfile
    #image: purwaren/php8.3.4-fpm
    volumes:
      - ./:/var/www/html
      - /etc/localtime:/etc/localtime
    environment:
      - DB_HOST=10.19.11.203
      - DB_NAME=dashboard
      - DB_USER=mode
      - DB_PASSWORD=Aib8Zog3pao8jie0
      - DB_CHARSET=utf8
      - DB_PORT=3306
      - APP_SALT=phubeThAspADReDRuRatreprEwUba2Hu
    networks:
      - app-network
    logging:
      driver: json-file
    #depends_on:
    #  - postgres
  nginx:
    image: bitnamilegacy/nginx:latest
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
    volumes:
      - ./:/var/www/html
      - ./conf/vhost.conf:/opt/bitnami/nginx/conf/server_blocks/vhost.conf
      - /etc/localtime:/etc/localtime
    networks:
      - app-network
    logging:
      driver: json-file
networks:
  app-network:
    driver: bridge
